{% extends 'base.html.twig' %}

{% block title %}Nos chambres
{% endblock %}

{% block body %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#ptitdej" aria-selected="false" role="tab" tabindex="-1"><h2>Petit Déjeuner</h2></a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#dej" aria-selected="true" role="tab"><h2>Déjeuner / Salades</h2></a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab"href="#diner" aria-selected="false" tabindex="-1" role="tab"><h2>Diner</h2></a>
  </li>
  
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="ptitdej" role="tabpanel">
    <img src="https://www.dubruitdanslacuisine.fr/media/mageplaza/blog/post/r/e/recette-oeuf-benedicte-du-bruit-dans-la-cuisine.jpg" class="w-100" style="max-height:25vh; object-fit:cover;" alt="hugo le boloss">
        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
       <h5> Le petit-déjeuner à la carte</h5>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        <div class="row"><div class="col-md-10">Dej 1</div><div class="col-md-2 text-end">28€</div></div>
        <div class="row"><div class="col-md-10">Dej 2</div><div class="col-md-2 text-end">32€</div></div>
        <div class="row"><div class="col-md-10">Dej 3</div><div class="col-md-2 text-end">68€</div></div>
        <div class="row"><div class="col-md-10">Dej 4</div><div class="col-md-2 text-end">59€</div></div>
        <div class="row"><div class="col-md-10">DEj 5</div><div class="col-md-2 text-end">90€</div></div>
        <div class="row"><div class="col-md-10">Dej 6</div><div class="col-md-2 text-end">55€</div></div>
        
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h5>Les boissons chaudes</h5>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row"><div class="col-md-10">Espresso, Décaféiné</div><div class="col-md-2 text-end">12€</div></div>
        <div class="row"><div class="col-md-10">Café américain</div><div class="col-md-2 text-end">16€</div></div>
        <div class="row"><div class="col-md-10">Cappuccino, Café latte, Double espresso</div><div class="col-md-2 text-end">16€</div></div>
        <div class="row"><div class="col-md-10">Thé, Infusion</div><div class="col-md-2 text-end">15€</div></div>
        <div class="row"><div class="col-md-10">Chocolat chaud</div><div class="col-md-2 text-end">18€</div></div>
        
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       <h5>Les boissons fraîches</h5> 
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row"><div class="col-md-10">Boisson fraiche 1 </div><div class="col-md-2 text-end">16€</div></div>
        <div class="row"><div class="col-md-10">Boisson fraiche 2</div><div class="col-md-2 text-end">28€</div></div>
        <div class="row"><div class="col-md-10">Boisson fraiche 3</div><div class="col-md-2 text-end">35€</div></div>
        <div class="row"><div class="col-md-10</div><div class="col-md-2 text-end">35€</div></div>
      </div>
    </div>
  </div>
</div>


  </div>
  <div class="tab-pane fade active show" id="dej" role="tabpanel">
    
    <img src="https://kissmychef.com/wp-content/uploads/2020/07/onglet.png" class="w-100" style="max-height:25vh; object-fit:cover;" alt="hugo le boloss">
        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h5>Salades / Entrées</h5>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        <hr>
        <h6>Salades</h6>
        <hr>
        <div class="row"><div class="col-md-10">Salade 1</div><div class="col-md-2 text-end">55€</div></div>
        <div class="row"><div class="col-md-10">Salade 2</div><div class="col-md-2 text-end">110€</div></div>
        <div class="row"><div class="col-md-10">Salade 3</div><div class="col-md-2 text-end">55€</div></div>
        <div class="row"><div class="col-md-10">Salade 4</div><div class="col-md-2 text-end">55€</div></div>
        <hr>
        <h6>Entrées</h6>
        <hr>
        <div class="row"><div class="col-md-10">Entrée 1</div><div class="col-md-2 text-end">45€</div></div>
        <div class="row"><div class="col-md-10">Entrée 2</div><div class="col-md-2 text-end">38€</div></div>
        <div class="row"><div class="col-md-10">Entrée 3</div><div class="col-md-2 text-end">32€</div></div>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h5>Les plats</h5>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row"><div class="col-md-10">Plat 1</div><div class="col-md-2 text-end">42€</div></div>
        <div class="row"><div class="col-md-10">Plat 2</div><div class="col-md-2 text-end">125€</div></div>
        <div class="row"><div class="col-md-10">Plat 3</div><div class="col-md-2 text-end">88€</div></div>
        <div class="row"><div class="col-md-10">Plat 4</div><div class="col-md-2 text-end">78€</div></div>
        <div class="row"><div class="col-md-10">Plat 5</div><div class="col-md-2 text-end">98€</div></div>
        
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       <h5>Les fromages / desserts</h5> 
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row"><div class="col-md-10">Assiette de fromages affinés</div><div class="col-md-2 text-end">36€</div></div>
        <div class="row"><div class="col-md-10">Sablé viennois</div><div class="col-md-2 text-end">24€</div></div>
        <div class="row"><div class="col-md-10">Mille-feuille vanille</div><div class="col-md-2 text-end">24€</div></div>
        <div class="row"><div class="col-md-10">Entremets madeleine</div><div class="col-md-2 text-end">24€</div></div>
      </div>
    </div>
  </div>
</div>






  </div>
  <div class="tab-pane fade" id="diner" role="tabpanel">
    

     <img src="https://www.normandie-tourisme.fr/wp-content/uploads/2021/10/plat-restaurant-AdobeStock-Redzen.jpg" class="w-100" style="max-height:25vh; object-fit:cover;" alt="hugo le boloss">
        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
       <h5> Entrées</h5>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        <div class="row"><div class="col-md-10">Entrée 1</div><div class="col-md-2 text-end">55€</div></div>
        <div class="row"><div class="col-md-10">Entrée 2</div><div class="col-md-2 text-end">115€</div></div>
        <div class="row"><div class="col-md-10">Entrée 3</div><div class="col-md-2 text-end">48€</div></div>
        <div class="row"><div class="col-md-10">Entrée 4</div><div class="col-md-2 text-end">48€</div></div>
        <div class="row"><div class="col-md-10">Entrée 5</div><div class="col-md-2 text-end">45€</div></div>
        <div class="row"><div class="col-md-10">Entrée 7</div><div class="col-md-2 text-end">38€</div></div>
        <div class="row"><div class="col-md-10">Entrée 8</div><div class="col-md-2 text-end">32€</div></div>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <h5>Les plats</h5> 
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row"><div class="col-md-10">plat 1</div><div class="col-md-2 text-end">48€</div></div>
        <div class="row"><div class="col-md-10">plat 2</div><div class="col-md-2 text-end">125€</div></div>
        <div class="row"><div class="col-md-10">Plat 3</div><div class="col-md-2 text-end">88€</div></div>
        <div class="row"><div class="col-md-10">Plat 4</div><div class="col-md-2 text-end">78€</div></div>
        <div class="row"><div class="col-md-10">plat 5</div><div class="col-md-2 text-end">88€</div></div>
        
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       <h5> Les fromages / desserts</h5>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row"><div class="col-md-10">Fromage 1</div><div class="col-md-2 text-end">36€</div></div>
        <div class="row"><div class="col-md-10">Dessert 1</div><div class="col-md-2 text-end">24€</div></div>
        <div class="row"><div class="col-md-10">Dessert 2</div><div class="col-md-2 text-endPlat 1</div><div class="col-md-2 text-end">24€</div></div>
      </div>
    </div>
  </div>
</div>



  </div>
</div>
</div>


{% endblock %}