{% extends 'base.html.twig' %}

{% block title %}Spa - Hôtelhouse
{% endblock %}

{% block body %}
	<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner" data-bs-interval="3500">
					<div class="carousel-item  active ">
						<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/8a/1e/4a/spa.jpg" class="d-block w-100" alt="" style="object-fit: cover;">
						<div class="carousel-caption d-none d-md-block">
						</div>
					</div>
					<div class="carousel-item ">
						<img src="https://www.makadam-fitness.fr/wp-content/uploads/2021/11/Makadam-70.jpg" class="d-block w-100" alt="" style=" object-fit: cover;">
						<div class="carousel-caption d-none d-md-block">
						</div>
					</div>
					<div class="carousel-item ">
						<img src="https://www.wartherhof.at/(cms)/media/resize/size=1920x1080%2Cscale=crop%2Cinterlace=1%2Cquality=70/2408115-warther-hof-2021--ruheraum-13.jpg" class="d-block w-100" alt="" style=" object-fit: cover;">
						<div class="carousel-caption d-none d-md-block">
						</div>
					</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédent</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>

<h1>Nos services Spa et bien être</h1>
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#soin" aria-selected="true" role="tab">Soin</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#studioFitness" aria-selected="false" tabindex="-1" role="tab">Studio Fitness</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#equipements" aria-selected="false" tabindex="-1" role="tab">Equipements et services</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade show active" id="soin" role="tabpanel">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Les soins signatures
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<div class="row"><div class="col-md-10"><strong>Escale Revitalisante.</strong>Parenthèse luxueuse et hors du temps, ce soin-ultra complet est idéal pour se remettre d’un voyage au long cours, d’un jet-lag ou d’une période d’activité intense. L’Escale Revitalisante invite à une profonde régénération du corps et de l’esprit. En ouverture de cette partition voluptueuse, un massage du dos et des jambes projette les sens dans un monde de légèreté. D’inspiration japonaise, il détend chaque muscle noué, dissipe les toxines et la fatigue. La circulation sanguine est relancée et la silhouette resculptée. Bercé par les gestes manuels et mécaniques du Dior Micro-Peeling, le visage se gorge à son tour d’une nouvelle vitalité sous les pressions drainantes d’un modelage intense et tonique. Lifté et ressourcé, le visage retrouve sa tonicité. Pour savourer pleinement l’instant, le soin s’achève par l’Éveil Sensoriel de la Tête. Épilogue magistral, il libère le port de tête, apaise le système nerveux et ouvre les portes d’une sérénité bienvenue. Le visage s’épanouit. En totale harmonie, le corps et l’esprit retrouvent leur énergie fondamentale.</div><div class="col-md-2 text-end">Prix : €330<br>Durée : 90 minutes</div></div><hr>
							<div class="row"><div class="col-md-10"><strong>Harmonie précieuse.</strong>Leurs mystérieux pouvoirs fascinent depuis la nuit des temps. Dior a réuni les vertus et les bienfaits des pierres semi-précieuses dans ce rituel merveilleusement sensoriel et ressourçant qui conjugue harmonie et relaxation ultime. Chauffés et posés sur la peau durant un lent massage du dos et des bras, le quartz jaune, la labradorite et l’agate diffusent leurs forces au plus profond de l’être. Le corps est réconforté et détendu à l’extrême. Véritable « cerveau des émotions », le ventre bénéficie d’une attention particulière : l’Experte Beauté lui dédie un massage spécifique inspiré de techniques asiatiques. Au fil des gestes empreints de douceur et de bienveillance, il renoue avec l’équilibre. Prolongeant cette sensation de cocon chaleureux, le visage est ensuite enveloppé d’un masque thermo-chauffant au prodigieux effet repulpant. Bercé par ce divin rituel précieux, le corps irradie d’une nouvelle énergie, son bien-être intérieur est total.</div><div class="col-md-2 text-end">Prix : €450<br>Durée : 120 minutes</div></div><hr>
							<div class="row"><div class="col-md-10"><strong>Silhouette en 8.</strong>Ce rituel énergétique rend visible l’invisible : une énergie vitale restaurée et relancée, un élan retrouvé. Portées par des gestes précis, les courbes sinueuses d’un corps parfait retrouvent toute leur volupté avec ce massage amincissant haute performance. D’une précision exquise, ce soin resculpte, galbe et lisse la peau par l’enchaînement de pétrissages profonds, de décollement des tissus et de palper-rouler. Son action drainante et anti-cellulite dessine une silhouette aux courbes parfaites, semblable au 8 porte bonheur de Christian Dior. Un massage du dos vient terminer le soin et prolonger son action drainante, dissipant les toxines et le stress induits. Renforcée par des séances rapprochées sur une ou plusieurs zones ciblées, le corps redécouvre toute sa légèreté et son énergie vitale.</div><div class="col-md-2 text-end">Prix : €300<br>Durée : 90 minutes</div></div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Les soins du visage
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<div class="row"><div class="col-md-10"><strong>Le Grand Soin Dior Prestige.</strong>L’extraordinaire pouvoir régénérant de la Rose de Granville a inspiré ce grand soin holistique spécialement façonné pour toutes les peaux, même les plus exigeantes. Parenthèse de plaisir intense, il associe les actifs précieux et puissants de la ligne Dior Prestige à un ballet de gestuelles généreuses. Au fil de cette chorégraphie voluptueuse, le visage et le dos sont enveloppés d’un confort absolu. La correction des signes de l’âge est inégalée et le plaisir rare. À la faveur d’un masque oxygénant et d’un modelage déstressant, la peau est intensément nourrie et ressourcée, elle retrouve toute sa fermeté. Son grain gagne en finesse et en régularité. Découvrez la merveilleuse sensation d’une peau de rose lisse et pulpeuse. En un mot, parfaite.</div><div class="col-md-2 text-end">Prix : €440<br>Durée : 120 minutes</div></div><hr>
							<div class="row"><div class="col-md-10"><strong>Dior Prestige Haute Précision.</strong>Inspiré de l’univers du fitness, ce soin combine des gestes dynamiques à un modelage dédié selon votre envie et vos besoins à l’ovale du visage, aux lèvres ou aux yeux. En prélude, la peau est minutieusement nettoyée et purifiée, pour la rendre plus réceptive aux pouvoirs de régénération et de perfection de la Rose de Granville. Des gestes de haute précision désamorcent ensuite les tensions liées aux agressions de la vie quotidienne. Profonds et lissants, ils renforcent le soutien musculaire et la régénération de la peau. Elle retrouve volume, souplesse et confort. Pour chaque zone ciblée, des mouvements spécifiques sont prodigués : des gestes doux ou appuyés, des manœuvres profondes ou des points de pressions et des lissages métamorphosent chaque point du visage. Pour prolonger le plaisir et en découvrir pleinement tous les bienfaits, les trois zones sont traitées simultanément lorsque le soin Dior Prestige Haute Précision est choisi dans sa version de 90 minutes.</div><div class="col-md-2 text-end">Prix : €230<br>Durée : 60 minutes <br> Prix : €340<br>Durée : 90 minutes</div></div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Les soins du corps
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
                            <div class="row"><div class="col-md-10"><strong>Le Gommage Dior.</strong>La peau retrouve toute sa douceur et son éclat grâce à un gommage au sucre sur mesure suivi d’un enchaînement de gestes enveloppants et drainants. Exfoliée, la peau est instantanément plus soyeuse. Dans sa version 90 minutes, ce soin porte également son attention sur le visage qui bénéficie d’un démaquillage minutieux, d’un gommage précis et de l’application d’un masque tissu liftant Dior Prestige.</div><div class="col-md-2 text-end">Prix : €220<br>Durée : 60 minutes <br> Prix : €290<br>Durée : 90 minutes</div></div><hr>
                            <div class="row"><div class="col-md-10"><strong>La Parenthèse Montaigne.</strong>Ce massage holistique à l’huile combine des gestes lents et enveloppants inspirés des massages californiens et suédois. Libérateur des tensions et des émotions, il aide le corps et l’esprit à retrouver leur harmonie.</div><div class="col-md-2 text-end">Prix : €110<br>Durée : 30 minutes <br> Prix : €220<br>Durée : 60 minutes<br> Prix : €280<br>Durée : 90 minutes</div></div><hr>
                            <div class="row"><div class="col-md-10"><strong>Alignement Energétique.</strong>Par ses gestes tour à tour vigoureux ou relaxants, ce modelage vise à apaiser les tensions et tonifier les tissus. Au fil des manœuvres profondes et précises, le corps s’allège avec bonheur. Libéré des toxines et incroyablement régénéré, le voici prêt à repartir, nourri d’une nouvelle énergie.</div><div class="col-md-2 text-end">Prix : €120<br>Durée : 30 minutes <br> Prix : €220<br>Durée : 60 minutes<br> Prix : €280<br>Durée : 90 minutes</div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="studioFitness" role="tabpanel">
			<div class="accordion" id="accordionExample2">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne2">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
							Studio Fitness
						</button>
					</h2>
					<div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
						<div class="accordion-body">
							<div class="row"><div class="col-md-10"><strong>Abbonement fitness.</strong>Nos espaces fitness, sauna et hammam sont ouverts tous les jours de 6h à 22h pour la clientèle de l’hôtel et de 8h à 21h pour la clientèle extérieure.</div><div class="col-md-2 text-end">1 mois: 400 € <br> 3 mois: 1 100 € <br> 1 an: 3 500 €</div></div><hr>
							<div class="row"><div class="col-md-10"><strong>Coaching privé fitness.</strong>Des séances de coaching personnalisées sont disponibles sur rendez-vous.</div><div class="col-md-2 text-end">60 minutes: 180 € <br>10 séances: 1 700 €</div></div><hr>
							<div class="row"><div class="col-md-10"><strong>Nos services.</strong>Renforcement musculaire <br> Stretching <br> Circuit training <br> Sauna et hammam <br> boxe.</div><div class="col-md-2 text-end">60 minutes: 60 € <br>10 séances: 500 €</div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="equipements" roles="tabpanel">
			<div class="accordion" id="accordionExample3">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne3">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Equipements de soin
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne3" data-bs-parent="#accordionExample3">
						<div class="accordion-body">
							<div class="row">Cinq cabines de soin, dont une cabine double</div>
							<div class="row">Soins des mains et des pieds</div>
							<div class="row">Hammam (hommes et femmes séparés)</div>
							<div class="row">Gamme complète de soins</div>
							<div class="row">Salle de relaxation</div>
							<div class="row">Sauna (hommes et femmes séparés)</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo3">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
							Services
						</button>
					</h2>
					<div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3" data-bs-parent="#accordionExample3">
						<div class="accordion-body">
							<div class="row">Service de coach personnel</div>
							<div class="row">Salle de sport complète avec des équipements de pointes, y compris pour les arts martiaux</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}